---
import { companyInfoClient } from "@shared/company-info";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const { directors, email, address } = await companyInfoClient.getCompanyInfo();
---

<address class:list={["contact", className]}>
  <p>
    <span class="contact__label">Email:</span>
    {email}
  </p>
  <p>
    <span class="contact__label">Mobile:</span>
    {
      directors.map((director) => (
        <span>
          {director.phone}
          <br />
        </span>
      ))
    }
    <p class="contact__address">
      <span class="contact__label">Address:</span>
      <span>
        {address.street}
        <br />
        {address.city}
        <br />
        {address.postCode}
      </span>
    </p>
  </p>

  <style lang="scss">
    .contact {
      display: flex;
      flex-direction: column;
      font-size: var(--ss-font-size-base);
      gap: var(--ss-size-1);
    }

    .contact__label {
      display: block;
      font-weight: var(--ss-font-sans-serif-weight-bold);
      margin-right: var(--ss-size-1);
    }
  </style>
</address>
