---
import ImageSection from "@components/sections/ImageSection.astro";
import IntroSection from "@components/sections/IntroSection.astro";
import Picture from "@components/ui/picture/Picture.astro";
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";
import Intro from "@components/ui/typography/intro/Intro.astro";
import image1 from "@images/home/Larch-Extension-Residential-East-Grinstead-01.jpg";
import image3 from "@images/home/Larch-Extension-Residential-East-Grinstead-03.jpg";
import image2 from "@images/home/Suburban-Home-Residential-Basingstoke-01.jpg";
---

<section class="intro">
  <IntroSection>
    <Heading size={HeadingSize.H2} as={HeadingSize.H1}>
      Sustainability meets timeless design
      <span slot="sub-heading">And occupants' wellbeing takes centre stage</span
      >
    </Heading>
    <Intro>
      Working with both residential and commercial clients, we are passionate
      about creating spaces that harmonise with the environment while <strong
        >prioritising the health</strong
      > and <strong>happiness</strong> of those who inhabit them.
    </Intro>
  </IntroSection>

  <div>
    <ImageSection>
      <Picture
        slot="image"
        mainImage={image1}
        alt="A kitchen designed by Skala Studio features cabinets with a worktop, wooden chopping board, and a vase filled with fresh flowers. Beyond the cabinets, a vast window opens up to picturesque garden views, flooding the kitchen with abundant natural light and lush greenery. The dark cabinet doors and elegant copper handles create a captivating contrast, making it feel like the outdoors have been graciously welcomed inside."
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>
          Did you realise your indoor space has a big impact on your well-being?
        </Heading>
        <Intro>
          Poor indoor air quality, the presence of VOCs, and excessive noise
          pollution can all compromise physical health.
        </Intro>
        <p>
          Inadequate natural light and a disconnection from nature can adversely
          affect our mood and mental well-being. Each of these factors can
          contribute to 'sick building syndrome', reinforcing the significance
          of a health-oriented space for our overall wellness.
        </p>
      </div>
    </ImageSection>

    <ImageSection>
      <Picture
        slot="image"
        mainImage={image2}
        alt="Skala Studio's visionary design is showcased in this image, highlighting a striking green stone kitchen island with a terracotta backdrop, wooden panels in varying shades cladding the internal walls, and an alluring glass block wall. A window provides glimpses of the verdant garden beyond."
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>
          Do you need an architect to design a bespoke, healthy space for you?
        </Heading>
        <Intro>
          We create designs with your well-being in mind, informed by research
          on architecture's impact on mental and physical health.
        </Intro>
        <p>
          Personalising your sensory needs, we enhance natural light, indoor air
          quality, and activity-friendly spaces, crafting a functional,
          beautiful space that leaves a lasting impression.
        </p>
      </div>
    </ImageSection>

    <ImageSection>
      <Picture
        slot="image"
        mainImage={image3}
        alt="This photograph captures an external house extension, displaying a slender, dark-framed window that reflects the surrounding garden's vibrant greenery and the expansive blue sky. The contrasting dark oak timber cladding on the extension's facade harmonizes beautifully with the various shades of green seen in the garden, creating a captivating visual contrast."
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>
          How can your new space have a positive impact on the environment?
        </Heading>
        <Intro>
          Great design goes beyond aesthetics; it should be a catalyst for
          positive change.
        </Intro>
        <p>
          We seamlessly integrate eco-friendly materials, energy-efficient
          systems, and biophilic design principles, fostering spaces that
          promote wellbeing, productivity, and a strong connection to nature. We
          aim for reduced carbon footprint and energy consumption, aligning your
          project with environmental preservation, positively impacting the
          environment.
        </p>
      </div>
    </ImageSection>
  </div>
</section>

<style>
  .intro {
    padding-bottom: var(--ss-flow-space-4);
    border-bottom: var(--ss-border-separator);
  }
</style>
