---
import ContactCard from "@components/ContactCard.astro";
import ImageSection from "@components/sections/ImageSection.astro";
import IntroSection from "@components/sections/IntroSection.astro";
import Button from "@components/ui/button/Button.astro";
import Buttons from "@components/ui/button/Buttons.astro";
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";
import Intro from "@components/ui/typography/intro/Intro.astro";
import image4 from "@images/home/Kitchen-Design-Residential-01.jpg";
import image3 from "@images/home/Krakow-Apartment-Residential-01.jpg";
import image1 from "@images/home/Larch-Extension-Residential-East-Grinstead-02.jpg";
import image2 from "@images/home/London-Home-Residential-Interior-Design-01.jpg";
import { Image } from "astro:assets";
---

<section class="services">
  <IntroSection>
    <Heading size={HeadingSize.H2}>Our Services</Heading>
    <Intro>
      Skala Studio offers comprehensive architectural services, tailored
      solutions, and exceptional interior design to elevate your project.
    </Intro>
  </IntroSection>

  <div>
    <ImageSection>
      <Image
        src={image1}
        alt="Skala Studio's design prowess shines through in this image, showcasing an external house extension enveloped in dark oak timber planks and a petite window. The backdrop is set against a brilliant, cloudless blue sky, and a leafless tree with intricate black branches adds a touch of natural elegance to the scene."
        slot="image"
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>Full Architectural Services</Heading>
        <p>
          We provide comprehensive assistance throughout the entire journey of
          your project, from conception to completion. This includes obtaining
          all necessary permissions and administering the construction contract.
        </p>
        <Buttons>
          <Button href="#contact">Begin your journey</Button>
        </Buttons>
      </div>
    </ImageSection>
    <ImageSection>
      <Image
        src={image2}
        alt="In this inviting interior space, brought to life by Skala Studio, the charm lies in the interplay of elements. White walls, black joinery trims, and a checkered black-and-white floor create a timeless aesthetic. The Crittall-style black steel frame patio door seamlessly connects the indoor and outdoor areas, complemented by a bottle green sofa with a vibrant yellow decorative cushion. A fireplace and a sizable indoor green plant add to the overall appeal."
        slot="image"
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>Partial Architectural Services</Heading>
        <p>
          Our architectural services can be tailored to meet your specific
          needs, whether you require limited assistance, such as obtaining
          planning permission or help with administering your construction
          contract.
        </p>
        <Buttons>
          <Button href="#contact">Choose your scope</Button>
        </Buttons>
      </div>
    </ImageSection>
    <ImageSection>
      <Image
        src={image3}
        alt="An image of an interior, thoughtfully designed by Skala Studio, showcases a captivating arched brick ceiling gently bathed in LED lighting. Storage cabinets feature decorative light wood three-dimensional doors that interact playfully with the lighting. To the right, an arched black door and a double French black door with stained glass provide elegant transitions. On the opposite side, a striking black kitchen with a soft travertine stone island adds depth and character to the space."
        slot="image"
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>Interior Design</Heading>
        <p>
          Our interior design services address your specific needs, blending
          functionality and aesthetics to create unique and healthy spaces that
          reflect your style and vision.
        </p>
        <Buttons>
          <Button href="#contact">Create unique spaces</Button>
        </Buttons>
      </div>
    </ImageSection>
    <ImageSection>
      <Image
        src={image4}
        alt="Captured here is a portion of a kitchen that bears the mark of Skala Studio's expertise. With green cabinets, a travertine stone and brass sheet-backed kitchen island, and an arched utility door, the space exudes sophistication. Ample natural light pours in through the window, creating a welcoming atmosphere that combines style and functionality seamlessly."
        slot="image"
      />
      <div slot="body">
        <Heading size={HeadingSize.H3}>Consulting</Heading>
        <p>
          We offer personalised consultations regarding your project’ specific
          needs. Contact us to discuss the details of your project.
        </p>
        <Buttons>
          <Button href="#contact">Consult for your project</Button>
        </Buttons>
      </div>
    </ImageSection>
  </div>
  <ContactCard id="contact" class="services__contact" />
</section>

<style>
  .services {
    padding-bottom: var(--ss-flow-space-4);
  }

  .services__contact {
    margin-top: var(--ss-flow-space-4);
  }
</style>
