---
import CourseInfoSection from "@components/sections/CourseInfoSection.astro";
import ImageSection from "@components/sections/ImageSection.astro";
import IntroSection from "@components/sections/IntroSection.astro";
import Picture from "@components/ui/picture/Picture.astro";
import Heading from "@components/ui/typography/heading/Heading.astro";
import { HeadingSize } from "@components/ui/typography/heading/Heading.models";
import Intro from "@components/ui/typography/intro/Intro.astro";
import image2 from "@images/courses/jct/contractor-and-client-shaking-hands.jpeg";
import image1 from "@images/courses/jct/pricture-of-a-contract.jpeg";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="JCT Course for Contractors — Skala Studio"
  description="JCT Course For Contractors helps avoid construction losses. Learn to follow contracts, get paid for work. Bust JCT myths. Join for stress-free projects"
>
  <section>
    <IntroSection>
      <Heading size={HeadingSize.H1} as={HeadingSize.H2}
        >JCT Course For Contractors
        <Fragment slot="sub-heading"
          >How often do you lose money during construction?</Fragment
        >
      </Heading>
      <Intro
        >Increasingly, we observe that contractors are losing money when it
        could have been easily avoided. Find out how to escape common mistakes
        through a clear understanding of the contract.</Intro
      >
    </IntroSection>

    <div>
      <ImageSection>
        <Picture
          mainImage={image1}
          alt="Architectural blueprints with scale ruler, pen, and Construction Contract laid out on top."
          slot="image"
        />
        <Fragment slot="body">
          <Heading size={HeadingSize.H2} as={HeadingSize.H3}
            >Did you know that contracts were created to protect contractors?</Heading
          >
          <Intro>
            The JCT contracts are based on the Construction Act, a piece of
            legislation specifically drafted to protect contractors and avoid
            disputes.
          </Intro>
          <p>
            During the course, we explain how the contracts work and how you can
            use them to your advantage. By following a few simple steps, you can
            ensure that all the work you do is properly quoted and paid for. We
            will review these steps and ensure you can take on new projects
            without stress.
          </p>
        </Fragment>
      </ImageSection>
      <ImageSection>
        <Picture
          mainImage={image2}
          alt="Group of people at conference table, two shaking hands, two holding construction safety helmets."
          slot="image"
        />
        <Fragment slot="body">
          <Heading size={HeadingSize.H2} as={HeadingSize.H3}
            >The construction world is full of myths</Heading
          >
          <Intro>
            During our time as Contract Administrators, we have come across many
            myths that either contradict the contract clauses or have nothing to
            do with the contract itself.
          </Intro>
          <p>
            We will debunk all common construction myths and conduct real-life
            scenario workshops at the end of the course to test your knowledge
            in practice.
          </p>
        </Fragment>
      </ImageSection>
    </div>
  </section>

  <CourseInfoSection>
    <Intro>
      We are proud to present a course that we have worked on for months, aiming
      to dispel any doubts and answer all of your questions!
    </Intro>
    <p>
      <strong>Dates to be annouced soon.</strong><br />
      Live online workshop with Skala Studio founders<br />
      Get our 3-day JCT Minor Works Course for Contractors for just &pound;900!
    </p>
    <p>
      <strong>Sign up for our waiting list today!</strong>
      <br />
      Once the dates are annonced you will be contacted with a payment link to book
      your spot.
    </p>
    <p>
      <strong>Places for each course will be limited. </strong>
    </p>
    <p>
      We will be contacting you in order you sign up! Secure your spot by
      providing us with your name and email address in the form below.
    </p>
  </CourseInfoSection>
  <iframe
    src="https://forms.monday.com/forms/embed/f102ad06226901224a80686ad808283e?r=euc1"
    width="100%"
    height="1000"
    style="border: 0"></iframe>
</BaseLayout>
